html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

.home-page {
    background-image: url(../img/image/Vector\ Smart\ Object\ mobile.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
}

.button {
    font-size: 14px;
    font-family: "Montserrat";
    color: #ffffff;
    font-weight: bold;
    line-height: 1.2;
    text-align: center;
    width: 90px;
    height: 38px;
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
    transition: border-radius 300ms linear;
}

.button:hover {
    border-style: solid;
    border-width: 2px;
    border-radius: 20px;
    border-color: #ffffff;
    background-color: rgba(26, 25, 21, 0);
    width: 94px;
    height: 40px;
}

.logo {
    margin-top: 8rem;
    margin-bottom: 2.5rem;
}

.main-heading {
    font-size: 30px;
    font-family: "Montserrat";
    color: #ffffff;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.2;
    padding: 0;
    margin: 0;
    margin-bottom: 0.5rem;
}

.info {
    font-size: 18px;
    font-family: "Roboto";
    font-weight: lighter;
    color: #ffffff;
    line-height: 1.2;
    margin: 0;
    margin-bottom: 1rem;
}

.search {
    font-size: 14px;
    font-family: "Montserrat";
    color: #ffffff;
    font-weight: bold;
    line-height: 1.2;
    border: none;
    border-radius: 20px;
    background-color: #ff4e50;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 40px;
    padding-right: 40px;
    margin: 0 auto;
    margin-bottom: 140px;
    transition: border-radius 300ms linear;
}

.search:active,
.search:hover {
    border-radius: 10px;
}

.best-partner {
    font-size: 22px;
    font-family: "Montserrat";
    color: #333333;
    font-weight: bold;
    line-height: 1.2;
    text-align: center;
    margin: 0;
    margin-bottom: 12px;
    margin-top: 66px;
}

.card-info {
    text-align: center;
}

.card-photo {
    position: relative;
    display: inline-block;
}

.icon {
    position: absolute;
    bottom: 0;
    right: 0;
}

.name {
    font-size: 14px;
    font-family: "Montserrat";
    color: #333333;
    font-weight: bold;
    line-height: 1.2;
    text-align: center;
    margin: 0;
    margin-top: 20px;
    margin-bottom: 16px;
}

.info-partner {
    font-size: 14px;
    font-family: "Roboto";
    font-weight: 300;
    color: #666666;
    line-height: 1.2;
    text-align: center;
    width: 218px;
    margin: 0 auto;
}

.other {
    font-size: 14px;
    font-family: "Montserrat";
    color: #ff4d4f;
    font-weight: bold;
    line-height: 1.2;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 70px;
    padding-right: 70px;
    margin-top: 20px;
    margin-bottom: 56px;
    border: none;
    border-style: solid;
    border-width: 2px;
    border-color: #ff4e50;
    border-radius: 20px;
    background-color: transparent;
    transition: border-radius 300ms linear;
}

.other:active,
.other:hover {
    border-radius: 10px;
}

@media (max-width: 767px) {
    .card-info [class*="col-"]:not(:last-child) {
      margin-bottom: 20px;
    }
    
    .navigation {
        margin-top: 30px;
    }
}

@media (min-width: 768px) and (max-width: 1199px) {
    .home-page {
        background-image: url(../img/image/Vector\ Smart\ Object\ Tablet.jpg);
    }

    .navigation {
        margin-top: 40px;
        margin-bottom: 140px;
    }

    .logo {
        margin: 0;
    }

    .login-button {
        margin-top: 0;
    }

    .main-heading {
        font-size: 52px;
        margin-bottom: 30px;
    }

    .info {
        font-size: 24px;
        margin-bottom: 30px;
    }

    .search {
        padding-left: 24px;
        padding-right: 24px;
        margin-bottom: 230px;
    }

    .card-info {
        margin-bottom: 40px;
    }

    .card-info [class*="col-"]:nth-child(odd) {
        margin-bottom: 56px;
    }

    .best-partner {
        margin-bottom: 30px;
    }
    
    .first {
        order: -2;
    }

    .third {
        order: -1;
    }

    .other {
        padding-left: 26px;
        padding-right: 26px;
        margin: 0;
        margin-bottom: 40px;
    }
}

@media (min-width: 1200px) {
    .home-page {
        background-image: url(../img/image/Vector\ Smart\ Object\ Desctop.jpg);
    }

    .best-partner {
        margin-bottom: 30px;
    }

    .navigation {
        margin-top: 38px;
        margin-bottom: 140px;
    }

    .logo {
        margin: 0;
    }

    .login-button {
        margin-top: 0;
    }

    .main-heading {
        font-size: 52px;
        margin-bottom: 30px;
    }

    .info {
        font-size: 24px;
        margin-bottom: 30px;
    }

    .search {
        padding-left: 24px;
        padding-right: 24px;
        margin-bottom: 230px;
        cursor: pointer;
    }

    .card-info {
        margin-bottom: 40px;
    }
    
    .first {
        order: -2;
    }

    .third {
        order: -1;
    }

    .other {
        padding-left: 30px;
        padding-right: 30px;
        margin: 0;
        margin-bottom: 74px;
        cursor: pointer;
    }
}