html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    font-family: "Montserrat", "Roboto Slab", "Noto Serif", sans-serif;
    color: #222222;
}

/* montserrat-regular - latin */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: local('Montserrat Regular'), local('Montserrat-Regular'),
         url('/fonts/montserrat-v14-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('/fonts/montserrat-v14-latin-regular.woff') format('woff'), /* Modern Browsers */
}

/* roboto-slab-regular - latin */
@font-face {
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 400;
    src: local(''),
         url('/fonts/roboto-slab-v11-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('/fonts/roboto-slab-v11-latin-regular.woff') format('woff'), /* Modern Browsers */
}

/* noto-serif-italic - latin */
@font-face {
    font-family: 'Noto Serif';
    font-style: italic;
    font-weight: 400;
    src: local('Noto Serif Italic'), local('NotoSerif-Italic'),
        url('/fonts/noto-serif-v8-latin-italic.woff2') format('woff2'), /* Super Modern Browsers */
        url('/fonts/noto-serif-v8-latin-italic.woff') format('woff'), /* Modern Browsers */
}

.container {
    width: 940px;
    margin: 0 auto;
}

.page-nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 120px;
}

.list-menu {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.list-menu a {
    font-family: "Montserrat";
    font-size: 14px;
    font-weight: bold;
    color: #222222;
    text-transform: uppercase;
    text-decoration: none;
    line-height: 1.2;
}

.list-menu li:not(:last-child) {
    margin-right: 40px;
}

.list-menu a:hover,
.list-menu a:focus {
    color: #fed136;
}

.info-services {
    padding-bottom: 120px;
}

.title-services {
    font-size: 40px;
    font-family: "Montserrat";
    color: #222222;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.6;
    text-align: center;
    margin: 0;
}

.about-title {
    font-size: 16px;
    font-family: "Noto Serif";
    color: #777777;
    font-style: italic;
    line-height: 1.2;
    text-align: center;
    margin: 0;
    margin-bottom: 74px;
}

.list {
    display: flex;
    margin: 0;
    padding: 0;
}

.list-service-item-basket:before {
    display: block;
    content: "";
    clear: both;
    width: 76px;
    height: 76px;
    background-image: url(img/logo/Icon-Basket.png);
    background-repeat: no-repeat;
    background-position: center;
    border: 3px solid #fed136;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

.list-service-item-laptop:before {
    display: block;
    content: "";
    clear: both;
    width: 76px;
    height: 76px;
    background-image: url(img/logo/Icon-Laptop.png);
    background-repeat: no-repeat;
    background-position: center;
    border: 3px solid #fed136;
    border-radius: 50%;
    margin-bottom: 20px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

.list-service-item-locked:before {
    display: block;
    content: "";
    clear: both;
    width: 76px;
    height: 76px;
    background-image: url(img/logo/Icon-Locked.png);
    background-repeat: no-repeat;
    background-position: center;
    border: 3px solid #fed136;
    border-radius: 50%;
    margin-bottom: 20px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

.list li {
    list-style: none;
    width: 290px;
    text-align: center;
    margin: 0;
    padding: 0;
    padding-top: 96px;
    position: relative;
}

.list li:not(:last-child) {
    margin-right: 35px;
}

.name-service {
    font-size: 18px;
    font-family: "Montserrat";
    color: #222222;
    font-weight: bold;
    line-height: 1.2;
    margin: 0;
    margin-bottom: 10px;
}

.info-about-service {
    font-size: 14px;
    font-family: "Roboto Slab";
    color: #777777;
    line-height: 1.2;
    margin: 0;
}

.background-color {
    background-color: #222222;
    background-position: 0 0;
}

.title {
    position: relative;
}

.background-image {
    position: absolute;
    left: 540px;
    bottom: 20px;
}

.title-contact_us {
    font-size: 40px;
    font-family: "Montserrat";
    color: #ffffff;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.6;
    text-align: center;
    margin: 0;
    padding-top: 100px;
}

.table-form {
    text-align: center;
    padding-bottom: 100px;
}

.post-message {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.table-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.name {
    font-size: 14px;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.2;
    color: #bbbbbb;
    width: 455px;
    height: 52px;
    border-radius: 5px;
    margin: 0;
    margin-bottom: 28px;
    padding-left: 20px;
}

.email {
    font-size: 14px;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.2;
    color: #bbbbbb;
    width: 455px;
    height: 52px;
    border-radius: 5px;
    margin: 0;
    margin-bottom: 28px;
    padding-left: 20px;
}

.subject {
    font-size: 14px;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.2;
    color: #bbbbbb;
    width: 455px;
    height: 52px;
    border-radius: 5px;
    margin: 0;
    padding-left: 20px;
}

.text {
    font-size: 14px;
    font-family: "Montserrat";
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.2;
    color: #bbbbbb;
    width: 455px;
    height: 212px;
    border-radius: 5px;
    margin: 0;
    padding-left: 20px;
    padding-top: 20px;
}

.send-button {
    font-size: 18px;
    font-family: "Montserrat";
    font-weight: bold;
    line-height: 1.2;
    text-transform: uppercase;
    width: 240px;
    height: 66px;
    padding: 0px;
    background-color: #fed136;
    color: #fffcf2;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
}
