$main-font-stack: 'Montserrat', 'Kaushan+Script', 'Roboto', sans-serif;
$primary-white-color: #ffffff;
$primary-dark-color: #333333;
$secondory-dark-color: #999999;
$first-accent-color: #fce38a;
$secondory-accent-color: #f38181;
$background-color: #95e1d3;
$border-color: #e7e7e7;

$title-text-size: 150px;
$subtitle-text-size: 72px;
$first-title-text-size: 30px;
$secondary-title-text-size: 24px;
$first-text-size: 14px;