.problems {
    background-image: url('../images/fon/second_backfon.png');
    background-position: top;
    background-repeat: no-repeat;
    background-size: 100% auto;

    &__block {
        padding-top: 48px;
        padding-bottom: 32px;
    }

    &__title {
        font-size: 20px;
        font-family: "Montserrat";
        color: rgb(255, 255, 255);
        font-weight: bold;
        line-height: 1.5;
        letter-spacing: 0.9px;
        width: 230px;
        margin: 0;
        margin-bottom: 16px;
    }

    &__title-color {
        color: #ff6b08;
    }

    &__list {
        counter-reset: count-item;
        list-style-type: none;
        background-color: #ffffff;
        box-shadow: 4px 6.928px 15.54px 5.46px rgba(29, 29, 27, 0.04);
        margin: 0;
        padding: 0;
        padding-left: 28px;
        padding-right: 28px;
        padding-bottom: 32px;
    }    

    &__item {
        font-size: 13px;
        font-family: "Montserrat";
        color: #18191d;
        font-weight: bold;
        line-height: 1.538;
        letter-spacing: 0.9px;
        position: relative;
    }

    &__item::before {
        display: block;
        content: counter(count-item, decimal-leading-zero) " "; 
        counter-increment: count-item;
        font-size: 14px;
        font-family: "Montserrat";
        color: rgb(255, 107, 8);
        line-height: 2.083;
        padding-left: 34px;
        padding-top: 10px;
        padding-bottom: 6px;
    }

    &__item::after {
        content: "";
        display: block;
        background-color: #ff6b08;
        width: 25px;
        height: 2px;
        position: absolute;
        top: 22px;
        left: 0;
    }
}

@media(min-width: 768px) and (max-width: 1279px) {
    .problems {
        background-image: url('../images/fon/BG-dark-problems-tab.jpg');

        &__title {
            font-size: 26px;
            width: 450px;
            margin-bottom: 30px;
        }

        &__block {
            padding-bottom: 70px;
        }

        &__list {
            display: flex;
            flex-wrap: wrap;
            padding-left: 106px;
            padding-right: 106px;
            padding-top: 20px;
        }

        &__item {
            width: 238px;
        }
    }
}

@media(min-width: 1280px) and (max-width: 1679px) {
    .problems {
        background-image: url('../images/fon/BG-dark-problems-1280.jpg');

        &__title {
            font-size: 42px;
            width: 755px;
            margin-bottom: 48px;
        }

        &__block {
            padding-bottom: 70px;
        }

        &__list {
            display: flex;
            flex-wrap: wrap;
            padding-left: 106px;
            padding-right: 106px;
            padding-top: 54px;
            padding-bottom: 54px;
        }

        &__item {
            font-size: 18px;
            width: 332px;
        }

        &__item::before {
            font-size: 18px;
        }

        &__item::after {
            top: 27px;
        }

        &__item:not(:nth-last-child(-n+3)) {
            margin-bottom: 38px;
        }
    }
}

@media(min-width: 1680px) {
    .problems {
        background-image: url('../images/fon/BG-dark-problems-1680.jpg');

        &__title {
            font-size: 46px;
            width: 760px;
            margin-bottom: 64px;
        }

        &__block {
            padding-top: 110px;
            padding-bottom: 130px;
        }

        &__list {
            display: flex;
            flex-wrap: wrap;
            padding-left: 100px;
            padding-right: 100px;
            padding-top: 66px;
            padding-bottom: 70px;
        }

        &__item {
            font-size: 21px;
            width: 332px;
        }

        &__item:not(:nth-child(3n+3)) {
            margin-right: 74px;
        }

        &__item::before {
            font-size: 21px;
        }

        &__item::after {
            top: 27px;
        }

        &__item:not(:nth-last-child(-n+3)) {
            margin-bottom: 38px;
        }
    }
}