html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.clearfix {
  display: table;
  content: "";
  clear: both;
}

body {
  font-family: "OpenSans", "Roboto", sans-serif;
  color: #0f0101;
}

.container {
  width: 1110px;
  margin: 0 auto;
}

.color {
  background-color: #ffffff;
}

.site-logo {
  display: inline-block;
}

.page-nav {
  width: 1110px;
  padding-top: 32px;
  padding-bottom: 32px;
}

.main-menu {
  font-size: 14px;
  font-family: "OpenSans";
  color: #1abc9c;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.2;
  list-style: none;
  min-width: 466px;
  margin: 0;
  margin-top: 6px;
  padding: 0;
  float: right;   
}

.main-menu li {
  float: left;
}
  
.main-menu li:not(:last-child) {
  margin-right: 27px;
}
  
.main-menu a {
  font-family: "OpenSans";
  color: #0f0101;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;   
}
  
.main-menu a:hover,
.main-menu a:focus {
  color: #1abc9c;
}

.body-color {
  background-color: #e9f0fd;
  background-size: cover;
}

.title {
  margin-bottom: 100px;
}

.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.overlay {
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 2);
  opacity: 0.52;
  position: absolute;
}

.fon {
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
}

.main-tour {
  display: inline-block;
  position: absolute;
  text-align: center;
}

.main-tour::before {
  display: block;
  content: "";
  width: 104px;
  height: 104px;
  background-color: #54a18f;
  background-image: url(../img/logo/left\ arrow.png);
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  left: 0;
  
}

.prev {
  display: block;
  content: "";
  width: 104px;
  height: 104px;
  position: absolute;
  left: 0;
}

.tour a:hover {
  background-color: #1abc9c;
  opacity: 0.356;
}

.main-tour::after {
  display: block;
  content: "";
  clear: both;
  width: 104px;
  height: 104px;
  background-color: #54a18f;
  background-image: url(../img/logo/right\ arrow.png);
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  right: 0;
  top: 0;
}

.next {
  display: block;
  content: "";
  width: 104px;
  height: 104px;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
}

.tour {
  margin: 0;
  padding-bottom: 10px;
  font-size: 60px;
  font-family: "Roboto";
  color: #ff7200;
  text-transform: uppercase;
  line-height: 1.6;
}

.kinds {
  display: inline-block;
  margin: 0;
  font-size: 26px;
  font-family: "Roboto";
  color: #ff7200;
  text-transform: uppercase;
  line-height: 1.2;
  position: absolute;
  left: 13%;
}

.title .banner:hover .tour,
.title .banner:hover .kinds {
  color: #ffffff;
}

.collection {
  position: relative;
  font-size: 48px;
  font-family: "Roboto";
  color: #515151;
  text-transform: uppercase;
  line-height: 1.6;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 80px;
  padding-bottom: 42px;
}

.collection::after {
  display: block;
  content: "";
  background-color: #1abc9c;
  width: 164px;
  height: 7px;
  position: absolute;
  bottom: 0px;
  left: 50%;
  right: 50%;
  transform: translateX(-50%);
}

.card {
  display: inline-block;
  position: relative;
  padding: 0;
  margin-top: 0;
  margin-bottom: 100px;
}  

.card-photo {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
}

.card li {
  list-style: none;
  float: left;
  width: 255px;
  height: 322px;
  margin: 0;
  padding: 0;
}

.card>li:not(:last-child) {
  margin-right: 30px;
}

.block-info {
  width: 100%;
  height: 322px;
}

.name {
  position: absolute;
  bottom: 0;
  left: 0;
  font-size: 18px;
  font-family: "Roboto";
  color: #ffffff;
  text-transform: uppercase;
  line-height: 1.2;
  width: 201px;
  height: 40px;
  margin: 0;
  padding-top: 9px;
  padding-bottom: 10px;
  padding-left: 14px;
  background-color: #323232; 
}

.price {
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 18px;
  font-family: "Roboto";
  color: #ffffff;
  text-transform: uppercase;
  line-height: 1.2;
  width: 54px;
  height: 40px;
  margin: 0;
  padding-top: 9px;
  padding-bottom: 10px;
  padding-left: 10px;
  background-color: #8c8c8c;  
}

.card>li:hover .name {
  background-color: #1abc9c
}

.card li:hover .price {
  background-color: #7fd9c7
}

.fon-block {
  display: none;
  width: 255px;
  height: 282px;
  margin: 0;
  padding: 0;
  border-width: 10px;
  border-color: #ffffff;
  border-style: solid;
  background-color: rgba(0, 0, 0, 0.55);
  position: absolute;
}

.mini-block {
  width: 100%;
  height: 262px;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}

.mini-block>li {
  list-style: none;
  width: 50px;
  height: 50px;
  margin: 0;
  margin-right: 8px;
  margin-bottom: 8px;
  padding: 0;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo.long {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.mini-block>li:nth-child(n + 3) {
  margin-right: 0;
}

.mini-block li:last-child {
  width: 166px;
  height: 50px;
  margin: 0;
}

.mini-block a {
  width: 100%;
  height: 100%;
  border: 1px solid #ffffff;
}

.card li:hover .fon-block {
  display: block;
  border-color: opacity(0.55);
}

.logo:hover,
.logo:focus {
  background-color: #1abc9c;
  border: 0;
  opacity: 1;
}

.logo.long:hover,
.logo.long:focus {
  background-color: #323232;
  border: 1px solid #ffffff;
  opacity: 1;
}

.page-footer {
  height: 90px;
  background-color: #323232;
}

.page-footer .container {
  min-height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.infobox {
  font-size: 16px;
  line-height: 1.2;
  font-family: "OpenSans";
  color: #fefefe;
}

.design {
  font-family: "Verdana";
  color: #fefefe;
}

.theme {
  font-size: 16px;
  font-family: "OpenSans";
  line-height: 1.2;
  color: #1abc9c;
  text-decoration: none;
}

/* visually-hidden helper */
.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}