$main-font-stack: 'Montserrat', sans-serif;
$primary-white-color: #ffffff;
$primary-dark-color: #18191d;
$secondory-dark-color: rgba(253, 254, 254, 0.42);
$first-accent-color: #ff6b08;
$secondory-accent-color: #d35526;
$background-color: #111517;
$secondary-background-color: #e0e0e0;
$third-background-color: #f1f1f1;
$little-text-color: #858585;
$info-text-color: #b9b9b9;

$mobile-title-text-size: 20px;
$mobile-subtitle-text-size: 15px;
$first-text-size: 11px;