.bottom__text {
    font-size: $first-text-size;
    font-family: "Montserrat";
    color: $primary-dark-color;
    font-weight: 500;
    line-height: 1.2;
    margin: 0;
    padding: 0; 
}
   
.bottom__mogo {
    text-decoration: none;
    color: $secondory-accent-color;
}