.main__btn {
    display: inline-block;
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
    font-size: $first-text-size;
    font-weight: 700;
    color: $primary-white-color;
    padding: 10px 30px;
    width: max-content;
    background-color: transparent;
    border: #ffffff solid 3px;
    cursor: pointer;
}