.header__main {
    @include center-flex('col');
}
 
.block {
    text-align: center;
    width: 820px;
    margin: 0;
    padding: 0;
}
 
.main {
    &__subtitle {
        font-size: $subtitle-text-size;
        font-family: "Kaushan Script";
        color: $primary-white-color;
        line-height: 1.2;
        margin-bottom: 30px;
    }

    &__title {
        font-size: $title-text-size;
        font-family: "Montserrat";
        color: $primary-white-color;
        font-weight: bold;
        text-transform: uppercase;
        line-height: 0.933;
        margin: 0 auto;
        margin-bottom: 120px;
    }
}

.buttton {
    @extend %button;
}