#svg {
    display: none;
}

.shop__cart {
    width: 15px;
    height: 15px;
    fill: $primary-white-color;
    cursor: pointer;

    &:hover {
        fill: $first-accent-color;
        transition-timing-function: linear;
        transition-duration: 300ms;
        transition: color 300ms linear;
        transition-property: all;
    }
}
 
.shop__glass {
    width: 15px;
    height: 15px;
    fill: $primary-white-color;
    cursor: pointer;

    &:hover {
        fill: $first-accent-color;
        transition-timing-function: linear;
        transition-duration: 300ms;
        transition: color 300ms linear;
        transition-property: all;
    }
}