.header {
    background: url('../images/image/banner.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 26px;
    padding-bottom: 230px;
}
 
@media (min-resolution: 192dpi) {
    header {
        background: url('../images/image/Layer\ 15@2x.jpg');
    }
}

.header__logo {
    @include inline-block();
    width: 86px;
    height: 23px;
    margin: 0;
    padding: 0;
}

.header__menu {
    display: flex;
    margin-bottom: 170px;
}
 
.menu {
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
    margin-top: 26px;
}
   
.menu {
    &__list {
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        list-style: none;
        margin: 0;
        padding: 0;
    }

    &__item:not(:last-child) {
        margin-right: 50px;
    }
}

.menu__link {
    position: relative;
    font-family: "Montserrat", sans-serif;
    font-size: $first-text-size;
    font-weight: 400;
    color: $primary-white-color;
    text-transform: uppercase;
    text-decoration: none;
    line-height: 1.2;
    transition: color 300ms linear;

    &::after {
        display: block;
        content: "";
        background-color: $first-accent-color;
        position: absolute;
        margin-top: 10px;
        width: 50px;
        height: 3px;
        left: 50%;
        transform: translateX(-50%);
        transition-property: opacity;
        transition-duration: 300ms;
        opacity: 0;
    }

    &:hover,
    &:focus {
      color: $first-accent-color;
    }

    &:hover::after,
    &:focus::after {
      transition-property: opacity;
      transition-duration: 300ms;
      opacity: 1;
    }
}

.menu__button {
    background-color: transparent;
    border: 0;
}

#svg {
    display: none;
}

.shop__cart {
    width: 15px;
    height: 15px;
    fill: $primary-white-color;
    cursor: pointer;

    &:hover {
        fill: $first-accent-color;
        transition-timing-function: linear;
        transition-duration: 300ms;
        transition: color 300ms linear;
        transition-property: all;
    }
}
 
.shop__glass {
    width: 15px;
    height: 15px;
    fill: $primary-white-color;
    cursor: pointer;

    &:hover {
        fill: $first-accent-color;
        transition-timing-function: linear;
        transition-duration: 300ms;
        transition: color 300ms linear;
        transition-property: all;
    }
}

.header__main {
    @include center-flex('col');
}
 
.block {
    text-align: center;
    width: 820px;
    margin: 0;
    padding: 0;
}
 
.main {
    &__subtitle {
        font-size: $subtitle-text-size;
        font-family: "Kaushan Script";
        color: $primary-white-color;
        line-height: 1.2;
        margin-bottom: 30px;
    }

    &__title {
        font-size: $title-text-size;
        font-family: "Montserrat";
        color: $primary-white-color;
        font-weight: bold;
        text-transform: uppercase;
        line-height: 0.933;
        margin: 0 auto;
        margin-bottom: 120px;
    }
}

.buttton {
    @extend %button;
}

.main__btn {
    @include inline-block;
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
    font-size: $first-text-size;
    font-weight: 700;
    color: $primary-white-color;
    padding: 10px 30px;
    width: max-content;
    background-color: transparent;
    border: #ffffff solid 3px;
    cursor: pointer;
}